.main-div {
    display: flexbox;
    justify-content: center;
}

.header {
    display: flex;
    background-color: silver;
}

.header-text {
    display: flex;
    justify-content: center;
    margin-top: 1.20%;
    padding-left: 1%;
}
