<!-- <div class="main-container">
    <div class="sidebar-section">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content-section">
        <router-outlet></router-outlet>
    </div>
</div> -->

<div class="main-div">
    <div class="f-div">
        <h4>Div 1</h4>
    </div>
    <div class="s-div">
        <h4>Div 2</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
    <div class="t-div">
        <h4>Div 3</h4>
    </div>
</div>