<div class="container">

    <div class="dashboard sidebar-item-container">
        <div class="dashboard-icon border-style">
            <mat-icon fontIcon="dashboard"></mat-icon>
        </div>
        <div class="dashboard-text border-style">
            <label for="dashboard">
                <h4>Dashboard</h4>
            </label>
        </div>
    </div>

    <div class="datacenters sidebar-item-container">
        <div class="datacenters-icon border-style">
            <mat-icon fontIcon=""></mat-icon>
        </div>
        <div class="datacenters-text border-style">
            <label for="datacenters">
                <h4>Datacenters</h4>
            </label>
        </div>
    </div>

    <div class="applications sidebar-item-container">
        <div class="applications-icon border-style">
            <mat-icon fontIcon="apps"></mat-icon>
        </div>
        <div class="applications-text border-style">
            <label for="application">
                <h4>Applications</h4>
            </label>
        </div>
    </div>

    <div class="policies sidebar-item-container">
        <div class="policies-icon border-style">
            <mat-icon fontIcon=""></mat-icon>
        </div>
        <div class="policies-text border-style">
            <label for="policies">
                <h4>Policies</h4>
            </label>
        </div>
    </div>

    <div class="application-mobility-policies sidebar-item-container">
        <div class="application-mobility-policies-icon border-style">
            <mat-icon fontIcon=""></mat-icon>
        </div>
        <div class="application-mobility-policies-text border-style">
            <label for="application-mobility-policies">
                <h4>Application Mobility Policies</h4>
            </label>
        </div>
    </div>
</div>