.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin-left: 1rem;
    justify-content: space-between;
}

.sidebar-item-container {
    display: flex;
    column-gap: 15px;
}

.dashboard {}

.datacenters {}

.applications {}

.policies {}

.application-mobility-policies {}

.border-style {
    /* border: 1px solid red; */
}